html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #F2F2F7;
    font-family: "Crimson Text", serif;
}

h1, h2, h3, h4, p{
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

#header-li {
    margin: 0 15px 0 15px;
}

.header {
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background: #F2F2F7;
    height: 120px;
}