# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# SQLite database
server/*.db

# Build output
client/dist/
client/dist-ssr/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Vite
client/.vite/
.vite/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
