.place {
    text-align: start;
}

#place-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0.1875rem 0;
}

#place-des {
    font-size: 0.9375rem;
    font-weight: 400;
    margin: 0.1875rem 0;
    font-family: "DM Sans", sans-serif;
    color: rgb(130, 130, 130);
}

#place-price {
    font-weight: 500;
    font-size: 1.125rem;
    margin: 0.1875rem 0;
}

#place-img {
    width: 16.0625rem;
    height: 16.0625rem;
    border-radius: 1.5625rem;
    transition: transform 0.3s ease;
}

#place-img:hover {
    transform: scale(1.05);
}