.register-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#register-title {
    font-size: 2.5rem;
    font-family: "DM Sans", sans-serif;
}

#register-input-container {
    width: 28.8125rem;
    display: flex;
    flex-direction: column;
}

#register-input {
    background: #F2F2F7;
    width: 28.8125rem;
    height: 2.625rem;
    border: 1px solid #D8D8D8;
    border-radius: 0.9375rem;
    font-size: 1.125rem;
    color: #ABABAB;
    margin-top: 0.625rem;
    padding: 0;
}

#register-btn-2 {
    width: 28.8125rem;
    height: 2.625rem;
    border: none;
    border-radius: 0.9375rem;
    background: #FF5F63;
    color: #F2F2F7;
    margin-top: 0.625rem;
}

#register-text-2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    margin-top: 0.625rem;
    font-size: 1.125rem;
    text-decoration: none;
}

#login-text-2 {
    font-size: 1.125rem;
    text-decoration: underline;
    font-weight: 800;
}

#login-btn-2:hover {
    background: #ff6b6d;
}

#register-btn-2:hover {
    background: #ff6b6d;
}